<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{{ Students.name }}</title>
<style>
    p{
        margin-top: 100px;
        background-color: lightgoldenrodyellow;
    }
    h2{

        margin-top: 50px;
        background-color: lightgoldenrodyellow;
    }
    h1{
        
        margin-top: 87px;
        background-color: lightgoldenrodyellow;
    }
</style>
</head>
<body>
<div style=" margin-left: 30px;">
    <h1>{{ Students.name }}</h1>
    <h2>Introduction</h2>
    <div>
    <p><b>photo</b>:&nbsp;&nbsp;&nbsp;<img src="{{ Students.s_photo.url }}" style="width:150px;height:200px;"/></p>
    <p> {{Students.s_photo.url}}</p>
    <p><b>class:</b>&nbsp;&nbsp;&nbsp; {{ Students.s_class }}</p>
    <p><b>id:</b>&nbsp;&nbsp;&nbsp;{{ Students.s_id }}</p>
    <p><b>grade:</b>&nbsp;&nbsp;&nbsp;{{ Students.s_grade}}</p>
    <p><b>curriculum:</b>&nbsp;&nbsp;&nbsp;{% for j in Students.s_curriculum.all %}
        <span>--{{ j }}</span>
       {% endfor %}</p>
    </div>
</div>

</body>
</html>